snippet bb "Bold"
  **${1:$VISUAL}**
snippet it "Italize"
  _${1:$VISUAL}_
snippet m "Inline math"
  \$${1:$VISUAL}\$
snippet M "Math block"
  \$\$${1:$VISUAL}\$\$
snippet cb "Code block"
	\`\`\`${1:lua}
	$2
	\`\`\`
